@page "/DeleteJobTitle/{Id:int}"
@inject JobTitleService ser
@inject NavigationManager navManager
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        <PageTitle>Delete</PageTitle>

        @if (jobTitleDTO != null)
        {
            <div class="card">
                <div class="card-header">
                    Center Info
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>@jobTitleDTO.Name</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-danger mx-2" @onclick="Delete">Delete</button>
                        <button class="btn btn-dark" @onclick="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                no data found
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            you are not authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }
    private JobTitleDTO? jobTitleDTO = new();

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            jobTitleDTO = await ser.GetById(Id);
        }

    }
    async void Delete()
    {
        if (jobTitleDTO != null)
        {
            var result = await ser.Delete(Id);
            if (result)
            {
                navManager.NavigateTo("/JobTitles");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "there is a problem");
            }
        }
    }
    void Cancel()
    {
        navManager.NavigateTo("/JobTitles");
    }
}