
@*<InputSelect class="form-control" id="JobTitle" @bind-Value="userRegisterDTO.JobTitle">
    @foreach (var item in lst_JobTitleDTO)
    {
        <option value="@item.Id">
            @item.Name
        </option>
    }
</InputSelect>*@

@code {
    
}
