@using System.Globalization;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<InputSelect class="form-control" @bind-Value="Culture">
    @foreach (var culter in cultures)
    {
        <option value="@culter">@culter.DisplayName</option>
    }
</InputSelect>

@code {
     CultureInfo[] cultures = new CultureInfo[]
       {
            new CultureInfo("ar-SY"),
            new CultureInfo("en-US")
       };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSRuntime)JSRuntime;
                js.InvokeVoidAsync("blazorCulture.set", value.Name);
                NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            }
        }
    }
}
