div.dropdown {
    position: absolute;
    display: block;
    inset: auto auto 30px auto;
}

    div.dropdown:hover .dropdown-menu {
        position: absolute;
        display: block;
        inset: auto auto -10px -10px;
        margin: 0px;
        transform: translate(0px, -34px);
        width: 50px;
    }

li {
    width: 100%;
}

.mainNav {
    width: 250px;
    height: 100%;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}



@media (max-width: 640px) {

    .mainNav {
        width: 100%;
        height: 10%;
    }

    div.dropdown {
        position: absolute;
        display: block;
        inset: auto auto 0.5px 120px;
    }

        div.dropdown:hover .dropdown-menu {
            inset: auto auto -15px -15px;
        }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none !important;
    }
    .collapse {
        display:block !important;
    }
}





        


