@page "/dep"
@using sahm.Shared.Models
@inject HttpClient httpClient


<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css~/css/myCss.css" rel="stylesheet" type="text/css" />


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<h3>المراكز</h3>

@*
    @if (lst_departmentDto == null)
    {
    <p>there is no data</p>
    }
    else
    {
    <table class="table border">
    @foreach (var r in lst_departmentDto)
    {
    <tr>
    <td>
    @r.Name
    </td>
    </tr>
    }
    </table>
    }

*@


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">المركز</th>
            <th scope="col"></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var r in lst_departmentDto)
        {
            <tr>
                <td>@r.Name</td>
                <td>
                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>

                </td>
            </tr>

        }
    </tbody>
</table>





@code {
    public List<DepartmentDto>? lst_departmentDto { get; set; }
    protected override async Task OnInitializedAsync()
    {
        lst_departmentDto = await httpClient.GetFromJsonAsync<List<DepartmentDto>>("/api/Departments/GetAll");
    }
}



